*{
    margin:0;
    padding:0;
}
.Container{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: row;
}
.Child1{
    width:60%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 8rem;
}
.Login{
    width:20%;
    display:flex;
    justify-content: center;
    font-family: Viga;
    font-size: 48px;
    line-height: 65px;
    color: #000000;

}
.Text{
    width:60%;
    display:flex;
    justify-content: center;
    font-family: Viga;
    font-size: 14px;
    line-height: 18px;
    color: #7D7C7C;
    margin-bottom: 2rem;
    text-align: center;
}
.buttonG{
    width:63%;
    padding:0.8rem;
    border-radius: 50px;
    border: 2px solid #E6E3E3;
    background-color: #ffffff;
    font-family: Viga;
    font-size: 14px;
    line-height: 18px; 
    margin-bottom: 2rem;
    outline: none;
}
.buttonG:hover{
    border: 2px solid rgb(105, 105, 105);
    cursor: pointer;
}
.Seperator{
    width:62%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-family: Viga;
    font-size: 14px;
    line-height: 18px;
    color: #CCCCCC;

}
.Error{
    width:60%;
    border: 2px solid red;
    background-color: rgba(245, 182, 182, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 50px;
    color:red;
    text-align: center;
}
.Form{
    width:90%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}
form{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;    
}
label{
    font-family: Viga;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0.5rem;
}
input{
    width:70%;
    height:45px;
    border: 2px solid #E5E3E3;
    border-radius: 50px;
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    outline: none;
}
input:hover,input:focus{
    border: 2px solid rgb(105, 105, 105);
    cursor: pointer;
}
::placeholder{
    text-align: center;
}
.button1{
    width:70%;
    height:45px;
    background: #1C31EE;
    border-radius: 50px;
    color: #ffffff;
    font-family: Viga;
    font-size: 14px;
    line-height: 18px; 
    border: none;
    outline: none;
}
.button1:hover{
    background: rgb(99, 114, 243);
    cursor: pointer;
}
.Content{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Viga;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
}
.Content:hover{
    cursor: pointer;
}
.Child2{
    width:45%;
    height:100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #1C31EE;
}
.Logo{
    width:80%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Viga;
    font-size: 62px;
    line-height: 67px;
    color: #ffffff;
    padding-top: 4rem;
}
.Heading{
    width:80%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Viga;
    color: #CCCCCC;
    font-size: 52px;
    line-height: 57px;
    text-align: center;
}
.Image{
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* MediaQuery */
@media screen and (max-width: 520px){
    .Container{
        flex-direction: column-reverse;
        height:auto
    }
    .Child2{
       width:100%;
       height: 50vh;
       justify-content: space-around;
       align-items: center;
    }
    .Heading{
        font-size: 32px;
        line-height: 37px;
    }
    .Image{
        display: none;
    }

    .Child1{
        width:100%;
        align-items: center;
        padding:0;
    }
    .Login{
        width:80%;
    }
    .Text{
        width:80%;
    }
    .buttonG{
        width:80%
    }
    .Form{
        width:80%;
    }
    input{
        width:80%;
    }
    .Error{
        width:80%;
    }
    .button1{
        width:100%;
    }
    .Content{
        width:80%;
        margin-top: 2rem;
    }

}